{% macro cookiesMessage(i18n, cookiesPage) %}
    <form method="get">
        <input type="hidden" name="okCookies" value="TRUE"/>
        <div class="toast toast-primary cookies">
            {{ cookiesPage.description | raw }} <button type="submit" class="btn">{{ i18n.trans('accept') }}</button>
            <a href="{{ cookiesPage.url('public') }}">{{ i18n.trans('read-more') }}</a>
        </div>
    </form>
{% endmacro %}

{% macro footerMenu(fsc) %}
    {% for menuKey, menuItem in fsc.menuComposer.getFooterMenu() %}
        <div class="column col-md-3 col-sm-12">
            {% if menuItem is iterable %}
                <dl>
                    <dt>{{ menuKey }}</dt>
                    {% for childItem in menuItem %}
                        <dd>
                            {% set activeClass = (childItem.idpage == fsc.webPage.idpage) ? 'btn' : '' %}
                            <a href="{{ childItem.url('public') | raw }}" class="{{ activeClass }}">{{ childItem.shorttitle }}</a>
                        </dd>
                    {% endfor %}
                </dl>
                <hr class="show-sm"/>
            {% else %}
                {% set activeClass = (menuItem.idpage == fsc.webPage.idpage) ? '' : ' btn-link' %}
                <a href="{{ menuItem.url('public') | raw }}" class="btn{{ activeClass }}">{{ menuItem.shorttitle }}</a>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro loginModal(i18n, appSettings, fsc) %}
    <script>
        function showLoginModalTab(showName, hideName) {
            var showBtn = document.getElementById("btnLoginModal" + showName);
            showBtn.classList.add("active");
            var showDiv = document.getElementById("divLoginModal" + showName);
            showDiv.classList.remove("d-hide");
            var hideBtn = document.getElementById("btnLoginModal" + hideName);
            hideBtn.classList.remove("active");
            var hideDiv = document.getElementById("divLoginModal" + hideName);
            hideDiv.classList.add("d-hide");
            return false;
        }
    </script>
    <div class="modal modal-sm" id="loginModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('loginModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('loginModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">{{ i18n.trans('login') }}</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <ul class="tab tab-block mb-2">
                        <li class="tab-item">
                            <a href="#" id="btnLoginModalCustomers" class="active" onclick="return showLoginModalTab('Customers', 'Employees');">{{ i18n.trans('customers') }}</a>
                        </li>
                        <li class="tab-item">
                            <a href="#" id="btnLoginModalEmployees" onclick="return showLoginModalTab('Employees', 'Customers');">{{ i18n.trans('employees') }}</a>
                        </li>
                    </ul>
                    <div id="divLoginModalCustomers">
                        {% set facebook = appSettings.get('webportal','fbappid','') %}
                        {% set google = appSettings.get('webportal','googleappid','') %}
                        {% set twitter = appSettings.get('webportal','twitterappid','') %}
                        {% set fsLogin = appSettings.get('webportal','allowlogincontacts','false') == 'true' %}
                        {% if facebook %}
                            <a href="{{ constant('FS_ROUTE') }}/HybridLogin?prov=facebook&return={{ fsc.url() }}" class="btn btn-block">
                                <i class="fab fa-facebook fa-fw" aria-hidden="true"></i> facebook
                            </a>
                        {% endif %}
                        {% if google %}
                            <a href="{{ constant('FS_ROUTE') }}/HybridLogin?prov=google&return={{ fsc.url() }}" class="btn btn-block">
                                <i class="fab fa-google fa-fw" aria-hidden="true"></i> google
                            </a>
                        {% endif %}
                        {% if twitter %}
                            <a href="{{ constant('FS_ROUTE') }}/HybridLogin?prov=twitter&return={{ fsc.url() }}" class="btn btn-block">
                                <i class="fab fa-twitter fa-fw" aria-hidden="true"></i> twitter
                            </a>
                        {% endif %}
                        {% if fsLogin and (facebook or google or twitter) %}
                            <p class="form-input-hint">{{ i18n.trans('login-with-social-or-email') }}</p>
                        {% endif %}
                        {% if fsLogin %}
                            <form action="{{ constant('FS_ROUTE') }}/HybridLogin?prov=fs" method="post" class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-at fa-fw" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" name="fsContact" id="fsContact" class="form-input" maxlength="50" placeholder=" {{ i18n.trans('email') }}" required="" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-key fa-fw" aria-hidden="true"></i>
                                        </span>
                                        <input type="password" name="fsContactPass" id="fsContactPass" class="form-input" maxlength="50" placeholder=" {{ i18n.trans('password') }}" required="" autocomplete="off"/>
                                        <button type="submit" class="btn btn-primary input-group-btn">
                                            <i class="fas fa-sign-in-alt fa-fw"></i>
                                        </button>
                                    </div>
                                    <p class="form-input-hint">{{ i18n.trans('webportal-forgotten-password') }}</p>
                                </div>
                                {% if appSettings.get('webportal','allownewregistrations','false') == 'true' %}
                                    <a class="btn btn-block btn-success" href="{{ constant('FS_ROUTE') }}/PortalRegisterMe">
                                        <i class="fas fa-edit fa-fw"></i> {{ i18n.trans('register-me') }}
                                    </a>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                    <div id="divLoginModalEmployees" class="d-hide">
                        <form action="{{ constant('FS_ROUTE') }}/" method="post" class="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                                    </span>
                                    <input type="text" name="fsNick" class="form-input" maxlength="50" placeholder=" {{ i18n.trans('user') }}" required="" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-key fa-fw" aria-hidden="true"></i>
                                    </span>
                                    <input type="password" name="fsPassword" class="form-input" maxlength="50" placeholder=" {{ i18n.trans('password') }}" required="" autocomplete="off"/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">
                                {{ i18n.trans('login') }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro logoutModal(i18n, fsc) %}
    <div class="modal modal-sm" id="logoutModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('logoutModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('logoutModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">
                    <i class="fas fa-user-circle fa-fw" aria-hidden="true"></i> {{ fsc.contact.email }}
                </div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <a href="{{ constant('FS_ROUTE') }}/EditProfile" class="btn btn-block btn-success">
                        <i class="fas fa-edit fa-fw" aria-hidden="true"></i> {{ i18n.trans('edit') }}
                    </a>
                    <div class="divider"></div>
                    <a href="{{ constant('FS_ROUTE') }}/?public_logout=TRUE" class="btn btn-block btn-error">
                        <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i> {{ i18n.trans('logout') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro message(log, types, style) %}
    {% set messages = log.read(types) %}
    {% if messages|length > 0 %}
        <div class="toast toast-{{ style }}">
            {% for msg in messages %}
                {{ msg.message|raw }}
                {% if not loop.last %}<br />{% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro topMenu(fsc, i18n) %}
    {% for menuKey, menuItem in fsc.menuComposer.getTopMenu() %}
        {% if menuItem is iterable %}
            {% set activeClass = (menuKey == fsc.webPage.menu) ? '' : ' btn-link' %}
            <div class="dropdown">
                <a href="#" class="btn{{ activeClass }} dropdown-toggle" tabindex="0">
                    {{ menuKey }} <i class="fas fa-caret-down"></i>
                </a>
                <ul class="menu">
                    {% for childItem in menuItem %}
                        <li class="menu-item">
                            {% set activeClass = (childItem.idpage == fsc.webPage.idpage) ? 'active' : '' %}
                            <a href="{{ childItem.url('public') | raw }}" class="{{ activeClass }}">
                                <i class="{{ childItem.icon }} fa-fw" aria-hidden="true"></i>
                                {{ childItem.shorttitle }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% set activeClass = (menuItem.idpage == fsc.webPage.idpage) ? '' : ' btn-link' %}
            <a class="btn{{ activeClass }}" href="{{ menuItem.url('public') | raw }}">
                {{ menuItem.shorttitle }}
            </a>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro topMenuSmall(fsc, i18n) %}
    <div class="dropdown show-xs">
        <a href="#" class="btn btn-primary dropdown-toggle" tabindex="0">
            <i class="fas fa-bars fa-fw" aria-hidden="true"></i> {{ i18n.trans('menu') }}
        </a>
        <ul class="menu">
            {% for menuKey, menuItem in fsc.menuComposer.getTopMenu() %}
                {% if menuItem is iterable %}
                    <li class="divider" data-content="{{ menuKey }}">
                    </li>
                    {% for childItem in menuItem %}
                        <li class="menu-item">
                            {% set activeClass = (childItem.idpage == fsc.webPage.idpage) ? 'active' : '' %}
                            <a href="{{ childItem.url('public') | raw }}" class="{{ activeClass }}">
                                <i class="{{ childItem.icon }} fa-fw" aria-hidden="true"></i>
                                {{ childItem.shorttitle }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% set activeClass = (menuItem.idpage == fsc.webPage.idpage) ? 'active' : '' %}
                    <li class="menu-item">
                        <a class="{{ activeClass }}" href="{{ menuItem.url('public') | raw }}">
                            <i class="{{ menuItem.icon }} fa-fw" aria-hidden="true"></i> {{ menuItem.shorttitle }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}