{% macro cookiesMessage(i18n, cookiesPage) %}
    <form method="get">
        <input type="hidden" name="okCookies" value="TRUE"/>
        <div class="toast cookies text-center">
            {{ cookiesPage.description | raw }} <button type="submit" class="btn btn-sm btn-warning">{{ i18n.trans('accept') }}</button>
            <a href="{{ cookiesPage.url('public') }}">{{ i18n.trans('read-more') }}</a>
        </div>
    </form>
{% endmacro %}

{% macro footerMenu(fsc) %}
    {% for menuKey, menuItem in fsc.menuComposer.getFooterMenu() %}
        <div class="column col-md-3 col-sm-12">
            {% if menuItem is iterable %}
                <dl>
                    <dt>{{ menuKey }}</dt>
                    {% for childItem in menuItem %}
                        <dd>
                            {% set activeClass = (childItem.idpage == fsc.webPage.idpage) ? 'btn' : '' %}
                            <a href="{{ childItem.url('public') | raw }}" class="{{ activeClass }}">{{ childItem.shorttitle }}</a>
                        </dd>
                    {% endfor %}
                </dl>
                <hr class="show-sm"/>
            {% else %}
                {% set activeClass = (menuItem.idpage == fsc.webPage.idpage) ? '' : ' btn-link' %}
                <a href="{{ menuItem.url('public') | raw }}" class="btn{{ activeClass }}">{{ menuItem.shorttitle }}</a>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro loginModal(i18n, appSettings, fsc) %}
    <div class="modal modal-sm" id="loginModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('loginModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('loginModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">{{ i18n.trans('login') }}</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    {% set facebook = appSettings.get('webportal','fbappid','') %}
                    {% set google = appSettings.get('webportal','googleappid','') %}
                    {% set twitter = appSettings.get('webportal','twitterappid','') %}
                    {% set fsLogin = appSettings.get('webportal','allowlogincontacts','false') == 'true' %}
                    {% if fsLogin %}
                        <form action="{{ constant('FS_ROUTE') }}/HybridLogin?prov=fs" method="post" class="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-envelope fa-fw" aria-hidden="true"></i>
                                    </span>
                                    <input type="text" name="fsContact" id="fsContact" class="form-input" maxlength="50" placeholder="{{ i18n.trans('email') }}" required="true" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-key fa-fw" aria-hidden="true"></i>
                                    </span>
                                    <input type="password" name="fsContactPass" id="fsContactPass" class="form-input" maxlength="50" placeholder="{{ i18n.trans('password') }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-switch">
                                    <input type="checkbox" name="fsContactPassForgot" value="true"/>
                                    <i class="form-icon"></i>
                                    {{ i18n.trans('webportal-forgotten-password') }}
                                </label>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">
                                {{ i18n.trans('login') }}
                            </button>
                            {% if appSettings.get('webportal','allownewregistrations','false') == 'true' %}
                                <p class="form-input-hint mb-2 mt-2">{{ i18n.trans('do-not-have-account') }}</p>
                                <a class="btn btn-block btn-success" href="{{ constant('FS_ROUTE') }}/PortalRegisterMe">
                                    {{ i18n.trans('register-me') }}
                                </a>
                            {% endif %}
                        </form>
                        {% if facebook or google or twitter %}
                            <p class="form-input-hint mb-2 mt-2">{{ i18n.trans('login-with-social-or-email') }}</p>
                        {% endif %}
                    {% endif %}
                    {% if facebook or google or twitter %}
                        <div class="btn-group btn-group-block">
                            {% if facebook %}
                                <a href="{{ constant('FS_ROUTE') }}/HybridLogin?prov=facebook&return={{ fsc.url() }}" class="btn btn-block">
                                    <i class="fab fa-facebook fa-fw" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            {% if google %}
                                <a href="{{ constant('FS_ROUTE') }}/HybridLogin?prov=google&return={{ fsc.url() }}" class="btn btn-block">
                                    <i class="fab fa-google fa-fw" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            {% if twitter %}
                                <a href="{{ constant('FS_ROUTE') }}/HybridLogin?prov=twitter&return={{ fsc.url() }}" class="btn btn-block">
                                    <i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro logoutModal(i18n, fsc) %}
    <div class="modal modal-sm" id="logoutModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('logoutModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('logoutModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">
                    <i class="fas fa-user-circle fa-fw" aria-hidden="true"></i> {{ i18n.trans('email') }}
                </div>
                <p class="mb-0">
                    <small>{{ fsc.contact.email }}</small>
                </p>
            </div>
            <div class="modal-body">
                <a href="{{ constant('FS_ROUTE') }}/EditProfile" class="btn btn-block btn-success">
                    {{ i18n.trans('my-profile') }}
                </a>
                <p class="form-input-hint mb-2 mt-2">
                    {{ i18n.trans('my-profile-p') }}
                </p>
            </div>
            <div class="modal-footer">
                <a href="{{ constant('FS_ROUTE') }}/?public_logout=TRUE" class="btn btn-block btn-error">
                    {{ i18n.trans('logout') }}
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro message(log, types, style) %}
    {% set messages = log.read(types) %}
    {% if messages | length > 0 %}
        <div class="toast {{ style == '' ? '' : 'toast-' ~ style }} text-center">
            {% for msg in messages %}
                {{ msg.message|raw }}
                {% if not loop.last %}<br />{% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro topMenu(fsc, i18n) %}
    {% for menuKey, menuItem in fsc.menuComposer.getTopMenu() %}
        {% if menuItem is iterable %}
            {% set activeClass = (menuKey == fsc.webPage.menu) ? '' : ' btn-link' %}
            <div class="dropdown">
                <a href="#" class="btn{{ activeClass }} dropdown-toggle" tabindex="0">
                    {{ menuKey }} <i class="fas fa-caret-down"></i>
                </a>
                <ul class="menu menu-big">
                    {% for childItem in menuItem %}
                        <li class="menu-item">
                            {% set activeClass = (childItem.idpage == fsc.webPage.idpage) ? 'active' : '' %}
                            <a href="{{ childItem.url('public') | raw }}" class="{{ activeClass }}">
                                <i class="{{ childItem.icon }} fa-fw" aria-hidden="true"></i>
                                {{ childItem.shorttitle }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% set activeClass = (menuItem.idpage == fsc.webPage.idpage) ? '' : ' btn-link' %}
            <a class="btn{{ activeClass }}" href="{{ menuItem.url('public') | raw }}">
                {{ menuItem.shorttitle }}
            </a>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro topMenuSmall(fsc, i18n, webTitle) %}
    <div class="dropdown">
        <a href="#" class="btn dropdown-toggle" tabindex="0">
            <i class="fas fa-bars fa-fw" aria-hidden="true"></i>
        </a>
        &nbsp; {{ webTitle }}
        <ul class="menu">
            {% for menuKey, menuItem in fsc.menuComposer.getTopMenu() %}
                {% if menuItem is iterable %}
                    <li class="divider" data-content="{{ menuKey }}">
                    </li>
                    {% for childItem in menuItem %}
                        <li class="menu-item">
                            {% set activeClass = (childItem.idpage == fsc.webPage.idpage) ? 'active' : '' %}
                            <a href="{{ childItem.url('public') | raw }}" class="{{ activeClass }}">
                                <i class="{{ childItem.icon }} fa-fw" aria-hidden="true"></i>
                                {{ childItem.shorttitle }}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="divider">
                    {% else %}
                        {% set activeClass = (menuItem.idpage == fsc.webPage.idpage) ? 'active' : '' %}
                    <li class="menu-item">
                        <a class="{{ activeClass }}" href="{{ menuItem.url('public') | raw }}">
                            <i class="{{ menuItem.icon }} fa-fw" aria-hidden="true"></i> {{ menuItem.shorttitle }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro userLoginModal(i18n, appSettings, fsc) %}
    <div class="modal modal-sm" id="userLoginModal">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('userLoginModal');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" onclick="return hideModal('userLoginModal');" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">{{ i18n.trans('login') }}</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form action="{{ constant('FS_ROUTE') }}/" method="post" class="form">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="fsNick" class="form-input" maxlength="50" placeholder=" {{ i18n.trans('user') }}" required="" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-key fa-fw" aria-hidden="true"></i>
                                </span>
                                <input type="password" name="fsPassword" class="form-input" maxlength="50" placeholder=" {{ i18n.trans('password') }}" required="" autocomplete="off"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">
                            {{ i18n.trans('login') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}