<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ fsc.webPage.langcode }}" xml:lang="{{ fsc.webPage.langcode }}" >
    <head>
        {# Website config #}
        {% set webCopyright = appSettings.get('webportal','copyright','') %}
        {% set webTitle = appSettings.get('webportal','title','') %}
        {% set webUrl = appSettings.get('webportal','url','') %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>{{ fsc.title | raw }}</title>
            <meta name="description" content="{{ fsc.description | raw }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta name="generator" content="FacturaScripts" />
            {% if fsc.webPage.noindex %}
                <meta name="robots" content="noindex" />
            {% else %}
                <link rel="canonical" href="{{ webUrl }}{{ fsc.canonicalUrl }}" />
            {% endif %}
            {% for block in fsc.pageComposer.getBlocks('meta') %}
                {{ block.content() | raw }}
            {% endfor %}
        {% endblock %}
        {% block icons %}
            <link rel="shortcut icon" href="{{ asset('Dinamic/Assets/Images/favicon.ico') }}" />
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('Dinamic/Assets/Images/apple-icon-180x180.png') }}" />
        {% endblock %}
        {% block css %}
            {# Adds custom CSS assets #}
            <style>{{ assetManager.combine('css') | raw }}</style>
            {# Adds custom CSS blocks #}
            {% for block in fsc.pageComposer.getBlocks('css') %}
                {{ block.content() | raw }}
            {% endfor %}
        {% endblock %}
        {{ debugBarRender.renderHead() | raw }}
    </head>
    <body>
        {% import 'Macro/PortalTemplate.html.twig' as Macros %}
        {% block navbar %}
            <div class="navbar navbar-top">
                <div class="navbar-section hide-xs">
                    {{ Macros.TopMenu(fsc, i18n) }}
                </div>
                <div class="navbar-center">
                    {{ Macros.TopMenuSmall(fsc, i18n) }}
                    <img src="{{ asset('Dinamic/Assets/Images/logo.png') }}" width="30" height="30" alt="{{ webTitle }}" class="hide-xs" />
                </div>
                <div class="navbar-section">
                    <a class="btn" href="{{ constant('FS_ROUTE') }}/WebSearch">
                        <i class="fas fa-search fa-fw" aria-hidden="true"></i>
                        <span class="hide-md">{{ i18n.trans('search') }}</span>
                    </a>
                    &nbsp;
                    {% if fsc.user %}
                        <div class="btn-group">
                            <a class="btn" href="{{ constant('FS_ROUTE') }}/{{ fsc.webPage.url('edit') }}">
                                <i class="fas fa-edit fa-fw" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-success" href="{{ constant('FS_ROUTE') }}/ListWebPage">
                                <i class="fas fa-sign-in-alt fa-fw" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% elseif fsc.contact %}
                        <a class="btn btn-success" href="#" onclick="return showModal('logoutModal');">
                            <i class="fas fa-user-circle fa-fw" aria-hidden="true"></i>
                            <span>{{ fsc.contact.nombre }}</span>
                        </a>
                    {% else %}
                        <a class="btn btn-primary" href="#" onclick="return showModal('loginModal');">
                            <i class="fas fa-user-circle fa-fw" aria-hidden="true"></i>
                            <span class="hide-md">{{ i18n.trans('login') }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="divider text-center" data-content="{{ webTitle }}"></div>
        {% endblock %}
        {% block messages %}
            <div class="container">
                <div class="columns">
                    <div class="column col-12 mb-2">
                        {{ Macros.message(log, ['error', 'critical', 'alert', 'emergency'], 'error') }}
                        {{ Macros.message(log, ['warning'], 'warning') }}
                        {{ Macros.message(log, ['notice'], 'success') }}
                        {{ Macros.message(log, ['info'], 'primary') }}
                        {% if fsc.showCookiesPolicy %}{{ Macros.cookiesMessage(i18n, fsc.menuComposer.cookiesPage()) }}{% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block body %}
            <div class="body-section">
                {% for block in fsc.pageComposer.getBlocks('body') %}
                    {{ block.content() | raw }}
                {% endfor %}
            </div>
        {% endblock %}
        <br/><br/><br/>
        {% block modals %}
            {% if fsc.contact %}
                {{ Macros.logoutModal(i18n, fsc) }}
            {% elseif fsc.user == false %}
                {{ Macros.loginModal(i18n, appSettings, fsc) }}
            {% endif %}
        {% endblock %}
        {% block footer %}
            <div class="footer-section">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            {% for block in fsc.pageComposer.getBlocks('footer') %}
                                {{ block.content() | raw }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="columns">
                        {{ Macros.footerMenu(fsc) }}
                    </div>
                    <div class="columns">
                        <div class="column">
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            {{ webCopyright }}
                        </div>
                        <div class="column text-right">
                            {% for menuItem in fsc.menuComposer.getLanguageRoots() %}
                                {% if menuItem.langcode == fsc.webPage.langcode %}
                                    <b>{{ menuItem.langcode }}</b>
                                {% else %}
                                    <a href="{{ menuItem.url('public') | raw }}" class="btn btn-link">{{ menuItem.langcode }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script>
                function showModal(idModal) {
                    var element = document.getElementById(idModal);
                    element.classList.add("active");
                    return false;
                }
                function hideModal(idModal) {
                    var element = document.getElementById(idModal);
                    element.classList.remove("active");
                    return false;
                }
            </script>
            {# Adds custom JS assets #}
            {% for js in assetManager.get('js') %}
                <script src="{{ js }}"></script>
            {% endfor %}
            {# Adds custom JS blocks #}
            {% for block in fsc.pageComposer.getBlocks('javascript') %}
                {{ block.content() | raw }}
            {% endfor %}
        {% endblock %}
        {% if fsc.showCookiesPolicy == false %}
            {% block javascriptWithCookies %}
                {% for block in fsc.pageComposer.getBlocks('javascriptWithCookies') %}
                    {{ block.content() | raw }}
                {% endfor %}
            {% endblock %}
        {% endif %}
        {{ debugBarRender.render()|raw }}
    </body>
</html>