<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ fsc.webPage.langcode }}" xml:lang="{{ fsc.webPage.langcode }}" >
    <head>
        {# Website config #}
        {% set webCopyright = appSettings.get('webportal','copyright','') %}
        {% set webTitle = appSettings.get('webportal','title','') %}
        {% set webUrl = appSettings.get('webportal','url','') %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>{{ fsc.webPage.title }}</title>
            <meta name="description" content="{{ fsc.webPage.description }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta name="generator" content="FacturaScripts" />
            {% if fsc.webpage.noindex %}<meta name="robots" content="noindex" />{% endif %}
            <link rel="canonical" href="{{ webUrl }}{{ fsc.webPage.link() }}" />
            {% for block in fsc.pageComposer.getBlocks('meta') %}
                {{ block.content() | raw }}
            {% endfor %}
        {% endblock %}
        {% block icons %}
            <link rel="shortcut icon" href="{{ asset('Dinamic/Assets/Images/favicon.ico') }}" />
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('Dinamic/Assets/Images/apple-icon-180x180.png') }}" />
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="{{ asset('Plugins/webportal/node_modules/spectre.css/dist/spectre.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('Dinamic/Assets/CSS/webportal.css') }}" />
            {% for block in fsc.pageComposer.getBlocks('css') %}
                {{ block.content() | raw }}
            {% endfor %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <header class="navbar">
                <section class="navbar-section hide-xs">
                    {% for menuItem in fsc.getPublicMenu() %}
                        {% set activeClass = (menuItem.idpage == fsc.webPage.idpage) ? ' active' : '' %}
                        <a class="btn btn-link{{ activeClass }}" href="{{ menuItem.link() | raw }}">
                            {{ menuItem.shorttitle }}
                        </a>
                    {% endfor %}
                </section>
                <section class="navbar-center">
                    <div class="dropdown show-xs">
                        <a href="#" class="btn btn-primary dropdown-toggle" tabindex="0">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                        <ul class="menu">
                            {% for menuItem in fsc.getPublicMenu() %}
                                {% set activeClass = (menuItem.idpage == fsc.webPage.idpage) ? ' active' : '' %}
                                <li>
                                    <a class="btn btn-link{{ activeClass }}" href="{{ menuItem.link() | raw }}">
                                        {{ menuItem.shorttitle }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <img src="{{ asset('Dinamic/Assets/Images/logo.png') }}" width="30" height="30" alt="{{ webTitle }}" />
                </section>
                <section class="navbar-section">
                    {% if fsc.user %}
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ constant('FS_ROUTE') }}/{{ fsc.webPage.url('edit') }}">
                                <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-success" href="{{ constant('FS_ROUTE') }}/ListWebPage">
                                <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% else %}
                        <a class="btn btn-primary" href="#" onclick="return showModal('loginModal')">
                            <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </section>
            </header>
            <div class="divider text-center" data-content="{{ webTitle }}"></div>
        {% endblock %}
        {% block messages %}
            <div class="container grid-lg">
                <div class="columns">
                    <div class="col-12">
                        {% import 'Macro/PortalTemplate.html.twig' as Macros %}
                        {{ Macros.message(log, ['error', 'critical', 'alert', 'emergency'], 'error') }}
                        {{ Macros.message(log, ['warning'], 'warning') }}
                        {{ Macros.message(log, ['notice'], 'success') }}
                        {{ Macros.message(log, ['info'], 'primary') }}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block body %}
            <div class="body-section">
                {% for block in fsc.pageComposer.getBlocks('body') %}
                    {{ block.content() | raw }}
                {% endfor %}
            </div>
        {% endblock %}
        <br/><br/><br/>
        <form action="{{ constant('FS_ROUTE') }}/" method="post" class="form">
            <div class="modal modal-sm" id="loginModal">
                <a href="#close" class="modal-overlay" aria-label="Close"></a>
                <div class="modal-container">
                    <div class="modal-header">
                        <a href="#close" onclick="return hideModal('loginModal')" class="btn btn-clear float-right" aria-label="Close"></a>
                        <div class="modal-title h5">{{ i18n.trans('login') }}</div>
                        <p>{{ i18n.trans('login-text') }}</p>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                                    </span>
                                    <input type="text" name="fsNick" class="form-input" maxlength="50" placeholder=" {{ i18n.trans('user') }}" required="" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key fa-fw" aria-hidden="true"></i>
                                    </span>
                                    <input type="password" name="fsPassword" class="form-input" maxlength="50" placeholder=" {{ i18n.trans('password') }}" required="" autocomplete="off"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            {{ i18n.trans('login') }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
        {% block footer %}
            <div class="footer-section">
                <div class="divider text-center" data-content="{{ webCopyright }}"></div>
                <div class="text-center">
                    {% for block in fsc.pageComposer.getBlocks('footer') %}
                        {{ block.content() | raw }}
                    {% endfor %}
                    {% for key, menuItem in fsc.getPublicFooter() %}
                        {% if key > 0 %}|{% endif %}
                        <a href="{{ menuItem.link() | raw }}" class="btn btn-link">{{ menuItem.title }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
        {% block javascript %}
            <script type="text/javascript">
                function showModal(idModal) {
                    var element = document.getElementById(idModal);
                    element.classList.add("active");
                    return false;
                }
                function hideModal(idModal) {
                    var element = document.getElementById(idModal);
                    element.classList.remove("active");
                    return false;
                }
            </script>
            {% for block in fsc.pageComposer.getBlocks('javascript') %}
                {{ block.content() | raw }}
            {% endfor %}
        {% endblock %}
    </body>
</html>