{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    {% import _self as macros %}

    <div class="body-section">
        <br/>
        {% for section in fsc.sections %}
            {% if section.fixed %}
                {{ fsc.setCurrentSection(section.name) }}
                {% include section.template %}
            {% endif %}
        {% endfor %}
        <div class="container">
            <div class="columns">
                <div class="column">
                    {{ macros.sectionsButtons(fsc, i18n) }}
                </div>
                <div class="column col-10 col-md-12">
                    {% for section in fsc.sections %}
                        {% if section.fixed == false %}
                            {% set divClass = (section.name == fsc.active) ? '' : 'd-hide' %}
                            <div id="secDiv{{ section.name }}" class="section-div {{ divClass }}">
                                {{ fsc.setCurrentSection(section.name) }}
                                <form id="secForm{{ section.name }}" action="" method="post">
                                    <input type="hidden" name="active" value="{{ section.name }}"/>
                                    <input type="hidden" name="offset" value="0"/>
                                    <div class="columns">
                                        <div class="column">
                                            {{ macros.sectionButtons(section) }}
                                        </div>
                                        <div class="column">
                                            {{ macros.sectionSearch(section, i18n) }}
                                        </div>
                                        <div class="column col-4 col-sm-12">
                                            {{ macros.sectionOrder(section) }}
                                        </div>
                                    </div>
                                </form>
                                <div class="custom-table-scroll">
                                    {% include section.template %}
                                </div>
                                {{ macros.sectionPagination(section) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript">
        function showSection(name) {
            $(".section-btn").removeClass("btn-primary");
            $("#secBtn" + name).addClass("btn-primary");

            $(".section-tab").removeClass("active");
            $("#secBtn" + name + "2").addClass("active");

            $(".section-div").removeClass("d-hide");
            $(".section-div").addClass("d-hide");
            $("#secDiv" + name).removeClass("d-hide");
            return false;
        }
        function showSectionPage(name, offset) {
            $("#secForm" + name + " input[name=offset]").val(offset);
            $("#secForm" + name).submit();
            return false;
        }
    </script>
{% endblock %}

{% macro sectionsButtons(fsc, i18n) %}
    <div class="hide-md">
        {% for name, group in fsc.getSectionGroups() %}
            {% if name != '' %}
                <br/>
                <div class="divider text-center" data-content="{{ i18n.trans(name) }}"></div>
            {% endif %}
            {% for section in group %}
                {% set btnClass = (section.name == fsc.active) ? 'btn btn-primary' : 'btn' %}
                {% if section.count > 0 %}
                    <button id="secBtn{{ section.name }}" class="section-btn {{ btnClass }} btn-block badge" data-badge="{{ section.count }}" onclick="return showSection('{{ section.name }}');">
                        <i class="fa {{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.label }}
                    </button>
                {% else %}
                    <button id="secBtn{{ section.name }}" class="section-btn {{ btnClass }} btn-block" onclick="return showSection('{{ section.name }}');">
                        <i class="fa {{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.label }}
                    </button>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="show-md">
        <ul class="tab tab-block">
            {% for section in fsc.sections %}
                {% set tabClass = (section.name == fsc.active) ? 'active' : '' %}
                {% if section.fixed == true %}
                {% elseif section.count > 0 %}
                    <li class="tab-item">
                        <a href="#" id="secBtn{{ section.name }}2" class="section-tab badge {{ tabClass }}" data-badge="{{ section.count }}" onclick="return showSection('{{ section.name }}');">
                            <i class="fa {{ section.icon }} fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="tab-item">
                        <a href="#" id="secBtn{{ section.name }}2" class="section-tab {{ tabClass }}" onclick="return showSection('{{ section.name }}');">
                            <i class="fa {{ section.icon }} fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro sectionButtons(section) %}
    {% if section.buttons | length > 0 %}
        <div class="btn-group">
            {% for button in section.buttons %}
                <a href="{{ button.link }}" class="btn">
                    {% if '' != button.icon %}
                        <i class="fa {{ button.icon }} fa-fw" aria-hidden="true"></i>
                    {% endif %}
                    <span class="hide-sm">{{ button.label }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionOrder(section) %}
    {% if section.orderOptions | length > 0 %}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </span>
            <select name="order" class="form-select" onchange="this.form.submit();">
                {% for option in section.orderOptions %}
                    {% if option.selected %}
                        <option value="{{ option.field }} {{ option.order }}" selected="">{{ option.label }} {{ option.order }}</option>
                    {% else %}
                        <option value="{{ option.field }} {{ option.order }}">{{ option.label }} {{ option.order }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionPagination(section) %}
    {% if section.pages | length > 0 %}
        <ul class="pagination">
            {% for page in section.pages %}
                {% if page.current %}
                    <li class="page-item active">
                        <a href="#" onclick="return showSectionPage('{{ section.name }}', '{{ page.offset }}');">{{ page.num }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="#" onclick="return showSectionPage('{{ section.name }}', '{{ page.offset }}');">{{ page.num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro sectionSearch(section, i18n) %}
    {% if section.searchOptions | length > 0 %}
        <div class="input-group">
            <input type="text" name="query" value="{{ section.query }}" class="form-input" placeholder="{{ i18n.trans('search') }}" autocomplete="off"/>
            <button class="btn btn-primary input-group-btn">
                <i class="fa fa-search fa-fw" aria-hidden="true"></i>
            </button>
        </div>
    {% endif %}
{% endmacro %}