{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    {% import _self as macros %}

    <div class="body-section">
        <br/>
        <div class="container">
            <div class="columns">
                <div class="column">
                    {% if fsc.user %}
                        <a href="{{ fsc.url() }}" class="btn">
                            <i class="fas fa-sync fa-fw" aria-hidden="true"></i>
                        </a>
                        {# -- Options button -- #}
                        <div class="dropdown">
                            <a href="#" class="btn dropdown-toggle">
                                <i class="fas fa-wrench fa-fw" aria-hidden="true"></i> {{ i18n.trans('options') }}
                            </a>
                            <ul class="menu">
                                {% for sectionName, section in fsc.sections %}
                                    <li class="menu-item">
                                        <a href="EditPageOption?code={{ sectionName }}" target="_blank">
                                            <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <br/>
                        <br/>
                    {% endif %}
                    {{ macros.sectionsButtons(fsc, i18n) }}
                </div>
                <div class="column col-10 col-md-12">
                    {% for sectionName, section in fsc.sections %}
                        {% set divClass = (sectionName == fsc.active) ? '' : 'd-hide' %}
                        <div id="secDiv{{ sectionName }}" class="section-div {{ divClass }}">
                            {{ fsc.setCurrentSection(sectionName) }}
                            {% include section.template %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript">
        function showSection(name) {
            $(".section-btn").removeClass("btn-primary");
            $("#secBtn" + name).addClass("btn-primary");

            $(".section-tab").removeClass("active");
            $("#secBtn" + name + "2").addClass("active");

            $(".section-div").removeClass("d-hide");
            $(".section-div").addClass("d-hide");
            $("#secDiv" + name).removeClass("d-hide");
            return false;
        }
        function showSectionPage(name, offset) {
            $("#secForm" + name + " input[name=offset]").val(offset);
            $("#secForm" + name).submit();
            return false;
        }
    </script>
{% endblock %}

{% macro sectionsButtons(fsc, i18n) %}
    <div class="hide-md">
        {% for name, group in fsc.getSectionGroups() %}
            {% if name != '' %}
                <br/>
                <div class="divider text-center" data-content="{{ i18n.trans(name) }}"></div>
            {% endif %}
            {% for sectionName, section in group %}
                {% set btnClass = (sectionName == fsc.active) ? 'btn btn-primary' : 'btn' %}
                {% if section.count > 0 %}
                    <button id="secBtn{{ sectionName }}" class="section-btn {{ btnClass }} btn-block badge" data-badge="{{ section.count }}" onclick="return showSection('{{ sectionName }}');">
                        <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.title }}
                    </button>
                {% else %}
                    <button id="secBtn{{ sectionName }}" class="section-btn {{ btnClass }} btn-block" onclick="return showSection('{{ sectionName }}');">
                        <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.title }}
                    </button>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="show-md">
        <ul class="tab tab-block">
            {% for sectionName, section in fsc.sections %}
                {% set tabClass = (sectionName == fsc.active) ? 'active' : '' %}
                {% if section.count > 0 %}
                    <li class="tab-item">
                        <a href="#" id="secBtn{{ sectionName }}2" class="section-tab badge {{ tabClass }}" data-badge="{{ section.count }}" onclick="return showSection('{{ sectionName }}');">
                            <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                            <span class="d-block">{{ section.title }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="tab-item">
                        <a href="#" id="secBtn{{ sectionName }}2" class="section-tab {{ tabClass }}" onclick="return showSection('{{ sectionName }}');">
                            <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                            <span class="d-block">{{ section.title }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}