{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    {% import _self as macros %}

    <div class="body-section">
        {{ macros.navigationLinks(fsc.navigationLinks) }}

        <div class="container">
            <div class="columns">
                {% if fsc.getSectionGroups() | length > 1 %}
                    <div class="column col-2 col-lg-12">
                        {# -- Options button -- #}
                        {% if fsc.user %}
                            <div class="dropdown">
                                <a href="#" class="btn btn-link dropdown-toggle">
                                    <i class="fas fa-wrench fa-fw" aria-hidden="true"></i> {{ i18n.trans('options') }}
                                </a>
                                <ul class="menu">
                                    {% for sectionName, section in fsc.sections %}
                                        <li class="menu-item">
                                            <a href="{{ asset('EditPageOption?code=' ~ sectionName) }}" target="_blank">
                                                <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {# -- Section selector -- #}
                        {{ macros.sectionsButtons(fsc, i18n) }}
                    </div>
                {% else %}
                    <div class="column col-12 mb-2">
                        {{ macros.sectionsButtonsTabs(fsc, i18n) }}
                    </div>
                {% endif %}
                <div class="column">
                    {# -- Section content -- #}
                    {% for name, group in fsc.getSectionGroups() %}
                        {% for sectionName, section in group %}
                            {% set divClass = (sectionName == fsc.active) ? '' : 'd-hide' %}
                            <div id="secDiv{{ sectionName }}" class="section-div {{ divClass }}">
                                <div class="show-lg mb-2">
                                    {% if name == '' %}
                                        {{ section.title }}
                                    {% else %}
                                        {{ i18n.trans(name) }} / {{ section.title }}
                                    {% endif %}
                                </div>
                                {{ fsc.setCurrentSection(sectionName) }}
                                {% include section.template %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function showSection(name) {
            $(".section-btn").removeClass("btn-primary");
            $("#secBtn" + name).addClass("btn-primary");

            $(".section-tab").removeClass("active");
            $("#secBtn" + name + "2").addClass("active");

            $(".section-div").removeClass("d-hide");
            $(".section-div").addClass("d-hide");
            $("#secDiv" + name).removeClass("d-hide");
            return false;
        }
        function showSectionDelete(formName) {
            var value = confirm("{{ i18n.trans('confirm-delete') }} {{ i18n.trans('are-you-sure') }}");
            if (value == true) {
                $("#form" + formName + " :input[name=\"action\"]").val("delete");
                $("#form" + formName).submit();
            }

            return false;
        }
        function showSectionPage(name, offset) {
            $("#secForm" + name + " input[name=offset]").val(offset);
            $("#secForm" + name).submit();
            return false;
        }
        $(document).ready(function () {
            $(".clickableRow").mousedown(function (event) {
                if (event.which === 1) {
                    var href = $(this).attr("data-href");
                    var target = $(this).attr("data-target");
                    if (typeof href !== typeof undefined && href !== false) {
                        if (typeof target !== typeof undefined && target === "_blank") {
                            window.open($(this).attr("data-href"));
                        } else {
                            parent.document.location = $(this).attr("data-href");
                        }
                    }
                }
            });
            $(".cancelClickable").mousedown(function (event) {
                event.preventDefault();
                event.stopPropagation();
            });
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                firstDay: 1,
                beforeShow: function () {
                    setTimeout(function () {
                        $(".ui-datepicker").css("z-index", 99999999999999);
                    }, 0);
                }
            });
        });
    </script>
{% endblock %}

{% macro navigationLinks(links) %}
    {% if links | length > 0 %}
        <div class="container">
            <div class="columns">
                <div class="column col-2 col-xs-12">
                </div>
                <div class="column">
                    <ul class="breadcrumb">
                        {% for link in links %}
                            <li class="breadcrumb-item">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionsButtons(fsc, i18n) %}
    {% import _self as macros %}

    <div class="hide-lg">
        {{ macros.sectionsButtonsButtons(fsc, i18n) }}
    </div>
    {# -- Smartphone section -- #}
    <div class="show-lg mb-2">
        {{ macros.sectionsButtonsTabs(fsc, i18n) }}
    </div>
{% endmacro %}

{% macro sectionsButtonsButtons(fsc, i18n) %}
    {% for name, group in fsc.getSectionGroups() %}
        <ul class="menu">
            {% if name != '' %}
                <li class="divider" data-content="{{ i18n.trans(name) }}">
                </li>
            {% endif %}
            {% for sectionName, section in group %}
                {% set tabClass = (sectionName == fsc.active) ? 'active' : '' %}
                <li class="menu-item">
                    {% if section.count > 0 %}
                        <div class="menu-badge">
                            <label class="label label-primary">{{ section.count }}</label>
                        </div>
                    {% endif %}
                    <a href="#" id="secBtn{{ sectionName }}" class="section-tab {{ tabClass }}" onclick="return showSection('{{ sectionName }}');">
                        <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                        {{ section.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <br/>
    {% endfor %}
{% endmacro %}

{% macro sectionsButtonsTabs(fsc, i18n) %}
    <ul class="tab">
        {% for name, group in fsc.getSectionGroups() %}
            {% for sectionName, section in group %}
                {% set tabClass = (sectionName == fsc.active) ? 'active' : '' %}
                <li class="tab-item">
                    {% if section.count > 0 %}
                        <a href="#" id="secBtn{{ sectionName }}2" class="section-tab {{ tabClass }} badge" data-badge="{{ section.count }}" onclick="return showSection('{{ sectionName }}');">
                            <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                            <span class="hide-lg">{{ section.title }}</span>
                        </a>
                    {% else %}
                        <a href="#" id="secBtn{{ sectionName }}2" class="section-tab {{ tabClass }}" onclick="return showSection('{{ sectionName }}');">
                            <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                            <span class="hide-lg">{{ section.title }}</span>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endmacro %}