{% extends "Master/SectionController.html.twig" %}

{% block body %}
    {% set firstSection = fsc.sections | first %}
    {% set firstSectionName = firstSection.getViewName() %}

    <div class="body-section">
        {% block navigationLinks %}
            {{ _self.navigationLinks(fsc.navigationLinks) }}
        {% endblock %}

        {# -- Fixed section -- #}
        {{ fsc.setCurrentSection(firstSectionName) }}
        {% include firstSection.template %}

        {# -- Other sections -- #}
        <div class="container">
            <div class="columns">
                {% if fsc.sections | length > 1 %}
                    <div class="column col-2 col-lg-12">
                        {# -- Section selector -- #}
                        {{ _self.sectionsButtons(fsc, i18n, firstSectionName) }}
                    </div>
                {% endif %}
                <div class="column">
                    {# -- Section contents -- #}
                    {% for sectionName, section in fsc.sections %}
                        {% if sectionName != firstSectionName %}
                            {% set divClass = (sectionName == fsc.active) or (fsc.active == firstSectionName and loop.index == 2) ? '' : 'd-hide' %}
                            <div id="secDiv{{ sectionName }}" class="section-div {{ divClass }}">
                                {{ fsc.setCurrentSection(sectionName) }}
                                {% include section.template %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro navigationLinks(links) %}
    {% if links | length > 0 %}
        <div class="container">
            <div class="columns">
                <div class="column text-center">
                    <ul class="breadcrumb">
                        {% for link in links %}
                            <li class="breadcrumb-item">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionsButtons(fsc, i18n, firstSectionName) %}
    {% for name, group in fsc.getSectionGroups() %}
        <details class="accordion" open>
            <summary class="accordion-header">
                {% if name != '' %}
                    <div class="divider" data-content="{{ i18n.trans(name) }}">
                    </div>
                {% endif %}
            </summary>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    {% for sectionName, section in group %}
                        {% if sectionName != firstSectionName %}
                            {% set tabClass = (sectionName == fsc.active) or (fsc.active == firstSectionName and loop.index == 2 and name == '') ? 'active' : '' %}
                            <li class="menu-item">
                                {% if section.count > 0 %}
                                    <div class="menu-badge">
                                        <label class="label label-primary">{{ section.count }}</label>
                                    </div>
                                {% endif %}
                                <a href="#" id="secBtn{{ sectionName }}" class="section-btn {{ tabClass }}" onclick="return showSection('{{ sectionName }}');">
                                    <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                                    {{ section.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </details>
    {% endfor %}
{% endmacro %}