{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    {% import _self as macros %}

    <div class="body-section">
        <br/>
        <div class="container">
            <div class="columns">
                <div class="column col-2 col-md-12">
                    <div class="hide-md">
                        {% for name, group in fsc.getSectionGroups() %}
                            {% if name != '' %}
                                <br/>
                                <div class="divider text-center" data-content="{{ i18n.trans(name) }}"></div>
                            {% endif %}
                            {% for section in group %}
                                {% set btnClass = (section.name == fsc.active) ? 'btn btn-primary' : 'btn' %}
                                {% set counter = (section.count > 0) ? section.count : '' %}
                                <button id="secBtn{{ section.name }}" class="section-btn {{ btnClass }} btn-block badge" data-badge="{{ counter }}" onclick="showSection('{{ section.name }}');">
                                    <i class="fa {{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.label }}
                                </button>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="show-md">
                        <ul class="tab tab-block">
                            {% for section in fsc.sections %}
                                {% set tabClass = (section.name == fsc.active) ? 'active' : '' %}
                                {% set counter = (section.count > 0) ? section.count : '' %}
                                <li class="tab-item">
                                    <a href="#" id="secBtn{{ section.name }}2" class="section-tab badge {{ tabClass }}" data-badge="{{ counter }}" onclick="return showSection('{{ section.name }}');">
                                        <i class="fa {{ section.icon }} fa-fw" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="column">
                    {% for section in fsc.sections %}
                        {% set divClass = (section.name == fsc.active) ? '' : 'd-hide' %}
                        <div id="secDiv{{ section.name }}" class="section-div {{ divClass }}">
                            {{ fsc.setCurrentSection(section.name) }}
                            <form id="secForm{{ section.name }}" action="" method="post">
                                <input type="hidden" name="active" value="{{ section.name }}"/>
                                <input type="hidden" name="offset" value="0"/>
                                <div class="columns">
                                    <div class="column col-4 col-sm-12">
                                        {{ macros.sectionButtons(section) }}
                                    </div>
                                    <div class="column col-4 col-sm-12">
                                        {{ macros.sectionSearch(section, i18n) }}
                                    </div>
                                    <div class="column col-4 col-sm-12">
                                        {{ macros.sectionOrder(section) }}
                                    </div>
                                </div>
                            </form>
                            <div class="custom-table-scroll">
                                {% include section.template %}
                            </div>
                            {{ macros.sectionPagination(section) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript">
                                        function showSection(name) {
                                            $(".section-btn").removeClass("btn-primary");
                                            $("#secBtn" + name).addClass("btn-primary");

                                            $(".section-tab").removeClass("active");
                                            $("#secBtn" + name + "2").addClass("active");

                                            $(".section-div").removeClass("d-hide");
                                            $(".section-div").addClass("d-hide");
                                            $("#secDiv" + name).removeClass("d-hide");
                                        }
                                        function showSectionPage(name, offset) {
                                            $("#secForm" + name + " input[name=offset]").val(offset);
                                            $("#secForm" + name).submit();
                                            return false;
                                        }
    </script>
{% endblock %}

{% macro sectionButtons(section) %}
    {% if section.buttons | length > 0 %}
        <div class="btn-group">
            {% for button in section.buttons %}
                <a href="{{ button.link }}" class="btn">
                    {% if '' != button.icon %}
                        <i class="fa {{ button.icon }} fa-fw" aria-hidden="true"></i>
                    {% endif %}
                    <span class="hide-sm">{{ button.label }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionOrder(section) %}
    {% if section.orderOptions | length > 0 %}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </span>
            <select name="order" class="form-select" onchange="this.form.submit();">
                {% for option in section.orderOptions %}
                    {% if option.selected %}
                        <option value="{{ option.field }} {{ option.order }}" selected="">{{ option.label }} {{ option.order }}</option>
                    {% else %}
                        <option value="{{ option.field }} {{ option.order }}">{{ option.label }} {{ option.order }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionPagination(section) %}
    {% if section.pages | length > 0 %}
        <ul class="pagination">
            {% for page in section.pages %}
                {% if page.current %}
                    <li class="page-item active">
                        <a href="#" onclick="return showSectionPage('{{ section.name }}', '{{ page.offset }}');">{{ page.num }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="#" onclick="return showSectionPage('{{ section.name }}', '{{ page.offset }}');">{{ page.num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro sectionSearch(section, i18n) %}
    {% if section.searchOptions | length > 0 %}
        <div class="input-group">
            <input type="text" name="query" value="{{ section.query }}" class="form-input" placeholder="{{ i18n.trans('search') }}" autocomplete="off"/>
            <button class="btn btn-primary input-group-btn">
                <i class="fa fa-search fa-fw" aria-hidden="true"></i>
            </button>
        </div>
    {% endif %}
{% endmacro %}