{% extends "Master/SectionController.html.twig" %}

{% block body %}
    {% import _self as macros %}
    {% set firstSection = fsc.sections | first %}
    {% set firstSectionName = firstSection.getViewName() %}

    <div class="body-section">
        {{ macros.navigationLinks(fsc.navigationLinks) }}

        {# -- Fixed section -- #}
        {{ fsc.setCurrentSection(firstSectionName) }}
        {% include firstSection.template %}

        {# -- Other sections -- #}
        <div class="container">
            <div class="columns">
                <div class="column">
                    {# -- Options button -- #}
                    {% if fsc.user %}
                        <div class="dropdown">
                            <a href="#" class="btn btn-link dropdown-toggle">
                                <i class="fas fa-wrench fa-fw" aria-hidden="true"></i> {{ i18n.trans('options') }}
                            </a>
                            <ul class="menu">
                                {% for sectionName, section in fsc.sections %}
                                    <li class="menu-item">
                                        <a href="{{ asset('EditPageOption?code=' ~ sectionName) }}" target="_blank">
                                            <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {# -- Section selector -- #}
                    {% if fsc.sections | length > 1 %}
                        {{ macros.sectionsButtons(fsc, i18n, firstSectionName) }}
                    {% endif %}
                </div>
                <div class="column col-10 col-md-12">
                    {# -- Section contents -- #}
                    {% for sectionName, section in fsc.sections %}
                        {% if sectionName != firstSectionName %}
                            {% set divClass = (sectionName == fsc.active) or (fsc.active == firstSectionName and loop.index == 2) ? '' : 'd-hide' %}
                            <div id="secDiv{{ sectionName }}" class="section-div {{ divClass }}">
                                <div class="show-lg mb-2">
                                    {% if section.group == '' %}
                                        {{ section.title }}
                                    {% else %}
                                        {{ i18n.trans(section.group) }} / {{ section.title }}
                                    {% endif %}
                                </div>
                                {{ fsc.setCurrentSection(sectionName) }}
                                {% include section.template %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro navigationLinks(links) %}
    {% if links | length > 0 %}
        <div class="container">
            <div class="columns">
                <div class="column col-2 col-xs-12">
                </div>
                <div class="column">
                    <ul class="breadcrumb">
                        {% for link in links %}
                            <li class="breadcrumb-item">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionsButtons(fsc, i18n, firstSectionName) %}
    <div class="hide-lg">
        {% for name, group in fsc.getSectionGroups() %}
            <ul class="menu">
                {% if name != '' %}
                    <li class="divider" data-content="{{ i18n.trans(name) }}">
                    </li>
                {% endif %}
                {% for sectionName, section in group %}
                    {% if sectionName != firstSectionName %}
                        {% set tabClass = (sectionName == fsc.active) or (fsc.active == firstSectionName and loop.index == 2 and name == '') ? 'active' : '' %}
                        <li class="menu-item">
                            {% if section.count > 0 %}
                                <div class="menu-badge">
                                    <label class="label label-primary">{{ section.count }}</label>
                                </div>
                            {% endif %}
                            <a href="#" id="secBtn{{ sectionName }}" class="section-tab {{ tabClass }}" onclick="return showSection('{{ sectionName }}');">
                                <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                                {{ section.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <br/>
        {% endfor %}
    </div>
    {# -- Smartphone section dropdown -- #}
    <div class="show-lg mb-2">
        <ul class="tab tab-block">
            {% for name, group in fsc.getSectionGroups() %}
                {% for sectionName, section in group %}
                    {% if sectionName != firstSectionName %}
                        {% set tabClass = (sectionName == fsc.active) or (fsc.active == firstSectionName and loop.index == 2 and name == '') ? 'active' : '' %}
                        <li class="tab-item">
                            <a href="#" id="secBtn{{ sectionName }}2" class="section-tab {{ tabClass }}" onclick="return showSection('{{ sectionName }}');">
                                <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}