{% extends "Master/PortalTemplate.html.twig" %}

{% block navbarButtonsRight %}
    {# -- Options button -- #}
    {% if fsc.user %}
        <div class="dropdown dropdown-right">
            <a href="#" class="btn dropdown-toggle">
                <i class="fas fa-wrench fa-fw" aria-hidden="true"></i>
            </a>
            <ul class="menu">
                {% for name, group in fsc.getSectionGroups() %}
                    {% if name != '' %}
                        <li class="divider" data-content="{{ i18n.trans(name) }}">
                        </li>
                    {% endif %}
                    {% for sectionName, section in group %}
                        <li class="menu-item">
                            <a href="{{ asset('EditPageOption?code=' ~ sectionName) }}" target="_blank">
                                <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i> {{ section.title }}
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        &nbsp;
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="body-section">
        {% for block in fsc.pageComposer.getBlocks('body') %}
            {% if block.ordernum <= 100 %}
                {{ block.content() | raw }}
            {% endif %}
        {% endfor %}
        <div class="container sections-container">
            {% block navigationLinks %}
                {{ _self.navigationLinks(fsc.navigationLinks) }}
            {% endblock %}
            <div class="columns">
                {% if fsc.sections | length > 1 %}
                    <div class="column col-2 col-lg-12">
                        {# -- Section selector -- #}
                        <div class="hide-lg">
                            {{ _self.sectionsButtons(fsc, i18n) }}
                        </div>
                        <div class="show-lg">
                            {{ _self.sectionSelector(fsc, i18n) }}
                        </div>
                    </div>
                {% endif %}
                {% set colNumClass = (fsc.sections | length > 1) ? 'col-10 col-lg-12' : '' %}
                <div class="column {{ colNumClass }}">
                    {# -- Section content -- #}
                    {% for sectionName, section in fsc.sections %}
                        {% set divClass = (sectionName == fsc.active) ? '' : 'd-hide' %}
                        <div id="secDiv{{ sectionName }}" class="section-div {{ divClass }}">
                            {{ fsc.setCurrentSection(sectionName) }}
                            {% include section.template %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% for block in fsc.pageComposer.getBlocks('body') %}
            {% if block.ordernum > 100 %}
                {{ block.content() | raw }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function showSection(name) {
            $(".section-btn").removeClass("active");
            $("#secBtn" + name).addClass("active");
            $("#secBtn" + name + "2").addClass("active");
            $("#sectionSelector").html($("#secBtn" + name).html());
            
            $(".section-div").removeClass("d-hide");
            $(".section-div").addClass("d-hide");
            $("#secDiv" + name).removeClass("d-hide");
            return false;
        }
        function showSectionDelete(formName) {
            var value = confirm("{{ i18n.trans('confirm-delete') }} {{ i18n.trans('are-you-sure') }}");
            if (value == true) {
                $("#form" + formName + " :input[name=\"action\"]").val("delete");
                $("#form" + formName).submit();
            }
            
            return false;
        }
        function showSectionPage(name, offset) {
            $("#secForm" + name + " input[name=offset]").val(offset);
            $("#secForm" + name).submit();
            return false;
        }
        $(document).ready(function () {
            $(".clickableRow").mousedown(function (event) {
                if (event.which === 1) {
                    var href = $(this).attr("data-href");
                    var target = $(this).attr("data-target");
                    if (typeof href !== typeof undefined && href !== false) {
                        if (typeof target !== typeof undefined && target === "_blank") {
                            window.open($(this).attr("data-href"));
                        } else {
                            parent.document.location = $(this).attr("data-href");
                        }
                    }
                }
            });
            $(".cancelClickable").mousedown(function (event) {
                event.preventDefault();
                event.stopPropagation();
            });
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                firstDay: 1,
                beforeShow: function () {
                    setTimeout(function () {
                        $(".ui-datepicker").css("z-index", 99999999999999);
                    }, 0);
                }
            });
        });
    </script>
{% endblock %}

{% macro navigationLinks(links) %}
    {% if links | length > 0 %}
        <div class="columns">
            <div class="column">
                <ul class="breadcrumb">
                    {% for link in links %}
                        <li class="breadcrumb-item">
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionsButtons(fsc, i18n) %}
    {% for name, group in fsc.getSectionGroups() %}
        <details class="accordion accordion-box" open>
            <summary class="accordion-header">
                {% if name == '' %}
                    <div class="divider" data-content="{{ i18n.trans('sections') }}">
                    </div>
                {% else %}
                    <div class="divider" data-content="{{ i18n.trans(name) }}">
                    </div>
                {% endif %}
            </summary>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    {% for sectionName, section in group %}
                        <li class="menu-item">
                            {% if section.count > 0 %}
                                <div class="menu-badge">
                                    <label class="label label-primary">{{ section.count }}</label>
                                </div>
                            {% endif %}
                            {% set btnClass = (sectionName == fsc.active) ? 'active' : '' %}
                            <a href="#" id="secBtn{{ sectionName }}" class="section-btn {{ btnClass }}" onclick="return showSection('{{ sectionName }}');">
                                <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                                {{ section.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </details>
    {% endfor %}
{% endmacro %}

{% macro sectionSelector(fsc, i18n) %}
    <a href="#" class="btn btn-link" onclick="return showModal('modalSectionSelector');">
        <i class="fas fa-caret-left fa-fw" aria-hidden="true"></i>
    </a>
    <a href="#" id="sectionSelector" class="btn btn-link" onclick="return showModal('modalSectionSelector');">
        {% for sectionName, section in fsc.sections %}
            {% if sectionName == fsc.active %}
                <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                {{ section.title }}
            {% endif %}
        {% endfor %}
    </a>
    <a href="#" class="btn btn-link" onclick="return showModal('modalSectionSelector');">
        <i class="fas fa-caret-right fa-fw" aria-hidden="true"></i>
    </a>
    <div id="modalSectionSelector" class="modal modal-sm">
        <a href="#close" class="modal-overlay" aria-label="Close" onclick="return hideModal('modalSectionSelector');"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right" aria-label="Close" onclick="return hideModal('modalSectionSelector');"></a>
                <div class="modal-title h5">{{ i18n.trans('sections') }}</div>
            </div>
            <div class="modal-body">
                {% for name, group in fsc.getSectionGroups() %}
                    <details class="accordion" open>
                        <summary class="accordion-header">
                            {% if name != '' %}
                                <i class="fas fa-caret-down fa-fw" aria-hidden="true"></i> {{ i18n.trans(name) }}
                            {% endif %}
                        </summary>
                        <div class="accordion-body">
                            <ul class="menu menu-nav">
                                {% for sectionName, section in group %}
                                    <li class="menu-item">
                                        {% if section.count > 0 %}
                                            <div class="menu-badge">
                                                <label class="label label-primary">{{ section.count }}</label>
                                            </div>
                                        {% endif %}
                                        {% set btnClass = (sectionName == fsc.active) ? 'active' : '' %}
                                        <a href="#" id="secBtn{{ sectionName }}2" class="section-btn {{ btnClass }}" onclick="showSection('{{ sectionName }}');return hideModal('modalSectionSelector');">
                                            <i class="{{ section.icon }} fa-fw" aria-hidden="true"></i>
                                            {{ section.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </details>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}