{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section">
        <br/>
        <div class="container grid-lg">
            <div class="columns">
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-header text-center">
                            <i class="fa fa-commenting-o fa-2x fa-fw" aria-hidden="true"></i>
                            <h1 class="panel-title">{{ fsc.title }}</h1>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                    {% for msg in fsc.messages %}
                                        {% set trClass = msg.unmatched ? 'text-error' : '' %}
                                        <tr class="{{ trClass }}">
                                            <td class="text-right">
                                                {% if msg.ischatbot %}<b>ChatBot</b>{% else %}{{ i18n.trans('you') }}{% endif %}:
                                            </td>
                                            <td>{{ msg.content | raw }}</td>
                                            <td class="text-right hide-xs">
                                                <small>{{ msg.timesince() }}</small>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <form action="{{ fsc.url() }}" method="post">
                                <div class="input-group">
                                    <input name="question" type="text" class="form-input" autocomplete="off" autofocus=""/>
                                    <button class="btn btn-primary input-group-btn">{{ i18n.trans('send') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}