{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section">
        <br/>
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-12">
                    <div class="panel">
                        <form action="{{ fsc.url() }}?action=update-details" method="post">
                            <div class="panel-header text-center">
                                <i class="fa {{ fsc.getPageData()['icon'] }} fa-2x fa-fw" aria-hidden="true"></i>
                                <h1 class="panel-title">{{ i18n.trans(fsc.getPageData()['title']) }}</h1>
                            </div>
                            <div class="panel-body">
                                <div class="container">
                                    <div class="columns">
                                        <div class="column col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="name">{{ i18n.trans('name') }}</label>
                                                <input class="form-input" type="text" name="name" id="name" placeholder="{{ i18n.trans('name') }}" value="{{ fsc.contact.nombre }}" required="" autofocus=""/>
                                            </div>
                                        </div>
                                        <div class="column col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="surname">{{ i18n.trans('surname') }}</label>
                                                <input class="form-input" type="text" name="surname" id="surname" placeholder="{{ i18n.trans('surname') }}" value="{{ fsc.contact.apellidos }}" required=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="email">{{ i18n.trans('email') }} *</label>
                                                <input class="form-input" type="text" name="email" id="email" placeholder="{{ i18n.trans('email') }}" value="{{ fsc.contact.email }}" required=""/>
                                            </div>
                                        </div>
                                        <div class="column col-6">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <div class="container">
                                    <button class="btn btn-primary input-group-btn">{{ i18n.trans('save') }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}