{% extends "Master/PortalTemplate.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="body-section">
        <br/>
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-12">
                    <h1 class="text-center">{{ i18n.trans('search') }}</h1>
                    <form id="searchForm" action="{{ fsc.url() }}" method="post">
                        <div class="input-group">
                            <input id="queryInput" type="text" name="query" value="{{ fsc.query }}" class="form-input" autocomplete="off" autofocus=""/>
                            <button class="btn btn-primary input-group-btn">
                                <i class="fas fa-search fa-fw" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                    <br/>
                    {% for item in fsc.searchResults %}
                        <div class="tile">
                            <div class="tile-icon">
                                <i class="{{ item.icon }} fa-fw fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="tile-content">
                                <a href="{{ item.link }}" class="tile-title">{{ item.title | raw }}</a>
                                {% if fsc.user %}
                                    <span class="label">{{ item.position }}</span>
                                {% endif %}
                                <p class="tile-subtitle text-gray">{{ item.description | raw }}</p>
                            </div>
                        </div>
                    {% else %}
                        {% if fsc.query | length > 2 %}
                            <div class="toast toast-warning">
                                {{ i18n.trans('no-data') }}
                            </div>
                        {% endif %}
                        {% if fsc.similarQueries | length > 0 %}
                            <br/>
                            <h2>{{ i18n.trans('similar-searches') }}:</h2>
                        {% endif %}
                        {% for query in fsc.similarQueries %}
                            <a href="{{ fsc.url() }}?query={{ query }}" class="label label-rounded">
                                <i class="fas fa-search fa-fw" aria-hidden="true"></i> {{ query }}
                            </a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var availableTags = {{ fsc.topQueries | json_encode() | raw }};
                    $("#queryInput").autocomplete({
                source: availableTags,
                select: function (event, ui) {
                    $("#queryInput").val(ui.item.label);
                    $("#searchForm").submit();
                }
            });
        });
    </script>
{% endblock %}